* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  width: 400px;
  height: 600px;
  background: url("/assets/img/background.png") no-repeat fixed center
    center/cover;
  position: relative;
  font-size: 200px;
  text-align: center;
}

.doodler {
  width: 60px;
  height: 85px;
  background-image: url("/assets/img/doodler-guy.png");
  position: absolute;
}

.platform {
  width: 85px;
  height: 15px;
  background: url("/assets/img/platform.png");
  position: absolute;
}
